/target/
/results_eq_log_manual/
/results_eqconfs_part1/
/commits_atmosphere.csv
/commits_bukkit.csv
/commits_cassandra.csv
/commits_cgeo.csv
/commits_clojure.csv
/commits_cloudify.csv
/commits_conversations.csv
/commits_CXF.csv
/commits_dropwizard.csv
/commits_gradle.csv
/commits_infinispan.csv
/commits_jedis.csv
/commits_jenkins.csv
/commits_junit.csv
/commits_k9.csv
/commits_kotlin.csv
/commits_mct.csv
/commits_mockito.csv
/commits_netty.csv
/commits_ogplatform.csv
/commits_orientedb.csv
/commits_realmjava.csv
/commits_retrofit.csv
/commits_roboguice.csv
/commits_voldemort.csv
/execution_eqconfs_pt1.log
/execution.log
/log_number_of_mergecommits.csv
/logerr.0
